.sidebar {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  left: 10px;
  padding: 10px;
  background: #111;
  border-radius: 1000px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 50px 0 #000;
  gap: 5px;
}

.sidebar > .icnbtn {
  width: 50px;
  height: 50px;
  background-color: #222;
  border-radius: 10px;
  transition-duration: 200ms;
  transform: scale(1);
  margin: 0px;
  transition-timing-function: ease-out;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar > .icnbtn:hover {
  background-color: #333;
}

.sidebar > .icnbtn:active {
  border-radius: 25px !important;
  background-color: #333;
}

.sidebar > .icnbtn:first-child {
  border-radius: 25px 25px 10px 10px;
}
.sidebar > .icnbtn:last-child {
  border-radius: 10px 10px 25px 25px;
}

.sidebar > .icnbtn.home {
  overflow: hidden;
}
.sidebar > .icnbtn.home:before {
  background-image: url(icon-512-maskable.png);
  background-size: cover;
  z-index: -1;
  content: "";
  position: absolute;
  opacity: 1;
  width: 100%;
  height: 100%;
  transition-duration: 200ms;
}
.sidebar > .icnbtn.home:hover:before {
  background-image: url(icon-512-maskable.png);
  background-size: cover;
  z-index: -1;
  content: "";
  position: absolute;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

.sidebar > .icnbtn.home > span {
  opacity: 0;
  transition-duration: 200ms;
  transform: translateY(30px);
}

.sidebar > .icnbtn.home:hover > span {
  opacity: 1;
  transform: translateY(0px);
}

.menucontainer {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000b2;
}
